@mixin cont {
  position: fixed;
  right: 0px;
  bottom: 90px;
  min-height: 80px;
  width: 350px;
  max-width: 95%;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid #78A300;
  border-right: none;
  z-index: 10000;
  overflow:auto;
  transition: .7s;
}
.container {
  @include cont;

}
.closedContainer {
  @include cont;
  right: -311px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  color: white;
  background:black;
  margin-top: 0px;
  height: 50px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.iconContainer {
  position: absolute;
  color: white;
  top: 8px;
  left: 5px;
  cursor: pointer
}
.iconContainer:hover {
  color: grey;
}

.subText1 {
  text-align:center;
}

.subText2 {
  text-align:center;
}

.btn {
  color: #fff;
  background: linear-gradient(180deg,#ff9326,#FF8000) repeat-x #FF8000;
  border-color: #FF8000;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.45;
  border-radius: .25rem;
  transition: .15s;
  margin: 20px 0px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(180deg,#de8326,#d96d00) repeat-x #d96d00;
    border-color: #c60;
}

// @media  only screen and (max-width: 700px){
//   .container {
//     display: none;
//   }
// }