@import '../../../../styles/colors.module.scss';
@import '../../../../styles/global.module.scss';


@mixin header {
  font-size: 20px;
  font-weight: 500;
  color: $highlight-color;
}
.subContainer {
  width: 100%;
  border: 1px solid $highlight-color;
  margin-top: 10px;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow
}
.heading {
  @include header;
}
.centerHeading {
  @include header;
  text-align: center;
}

.forgotMyPass, .emailCheckContainer  {
  margin-top: 10px;
  display: flex;
  align-items: center;
  user-select: none;
}
.forgotMyPass > input:hover {
  opacity: .7;
}
.forgotMyPass > input {
  opacity: 1;
  transition: .1s;
  border: none;
  background: transparent;
  text-decoration: underline;
  padding: 0px;
  cursor: pointer;

}
.emailCheckContainer > i {
  color:transparent;
  margin-right:10px;
  border: 1px solid $text-subtle;
  padding: 4px;
  padding-top: 0px;
  cursor:pointer;
  transition: .1s;
  border-radius: $border-radius;
}
.checked {

  color: $highlight-color !important;
}
