/* General */
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #585858;
    margin: 0px;
    overflow: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  *, input, textarea, select, button {
    font-family: "brandon-grotesque", sans-serif;
    box-sizing: border-box;
  }

  .CodeMirror *, pre {
    font-family: monospace !important;
    font-size: 14px;
  }

/* Stripe */
.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

/* React Virtualized */
.ReactVirtualized__Table__Grid {
    will-change: auto !important;
    width: 100% !important;
  }
  
  .ReactVirtualized__Grid__innerScrollContainer {
    width: 100% !important;
    max-width: none !important;
  }
  
  .ReactVirtualized__Table__row,
  .ReactVirtualized__Table__headerRow {
    width: 100% !important;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #eee;
    color: #3e3f42;
    box-sizing: border-box;
  }
  
  .ReactVirtualized__Table__rowColumn,
  .ReactVirtualized__Table__headerColumn {
    flex: 0 1 200px !important;
  }
  
  .ReactVirtualized__Table__headerRow {
    font-size: 12px;
    text-transform: uppercase;
    color: #7e7e7e;
    border-bottom: 2px solid #293757;
    background: #E1E1E1;
    min-height: 40px;
    font-weight: normal;
  }
  