@import '../../../../styles/colors.module.scss';
@import '../../../../styles/global.module.scss';


@mixin button {
  @include label;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  background: $highlight-color;
  color: $secondary-bg-color;
  border: none;
  height: 50px;
  transition: .1s;
  outline-color: $outline;
}
.container {
  width: 100%;
}
.topButtonContainer {
  margin-bottom:10px;
}
.switchContainer {
  @include label;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #7e7e7e;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.label {
  margin-left: 10px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 2px solid $highlight-color;
  background: $secondary-bg-color;
  overflow: auto;
  border-radius: $border-radius;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-width: 350px;
  width: 700px;
  box-shadow: $box-shadow;
  overflow: auto;
  max-height: 90%;
}

.dropzone {
  margin-top: 10px;
  border: 5px dashed $inactive-btn ;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-subtle;
  transition: .2s;
  cursor: pointer;
}
.closeX {
  position: absolute;
  right:10px;
  color:grey;
  background:none;
  border:none;
  cursor:pointer;
  font-size: 14px;
  outline-color: $outline;
}
.closeX:hover {
  color: black;
}
.heading {
  color: $charcoal;
}
.dropzone:hover, .activeDropzone {
  transition: .2s;
  border-style: dashed;
  color: $charcoal;
}

.file {
  margin-top: 10px;
}

.btn {
  @include button;

}
.btnDisabled {
  @include button;
  cursor: not-allowed;
  background: grey;
  letter-spacing: 2px;
}

.btn:hover {
  letter-spacing: 2px;
}


//Gif stuff
.iconContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor:pointer;
  
}
.removeBtn {
  margin: 10px;
  border: 1px solid $primary-bg-color;
  background: none;
  padding: 5px;
  cursor: pointer;
  height: 30px;
  width:100%;
  transition: .2s;
}
.removeBtn:hover {
  border-color: red;
}
.gifSubContainer {
  display:flex;
  color: $charcoal;
  align-items: center;
  margin: 15px 0px;
}
.gifText {
  text-decoration: underline; 
  cursor:pointer;
  border: none;
  background: none;
  padding-left: 10px;
}
.gif {
  width: 100%;
}

.ol > li {
  margin-top:3px;
  color: $charcoal;
}
.ol > li > a {
  color: $charcoal;
}

@media  only screen and (max-width: 700px){
  .gif {
    display: none;
  }
  .modal {
    max-width: 80%;
    min-width: 10%;
  }
}