@import '../../styles/colors.module.scss';
@import '../../styles/global.module.scss';


@mixin Header {
  background-color: $secondary-bg-color;
  padding:5px;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  display:flex;
  height:40px;
  display:flex;
  align-items: center;
  cursor:pointer;
}

.container {
  margin:15px;
  flex: 1;
  border-radius: $border-radius;
  // box-shadow: $box-shadow;
}
.halfContainer {
  margin:15px;
  // box-shadow: none;
  height: 100%;
  width: calc(50% - 30px);
}
.borderHeader {
  @include Header;
  border-bottom: 1px solid $border-primary;
}
.header{
  @include Header;
  border-radius: $border-radius;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

}
.arrowIcon{
  margin-right: 20px;
  margin-left: 5px;
}
.body{
  background-color: $secondary-bg-color;
  width: 100%;
  border-radius: $border-radius;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}


@media only screen and (max-width: 860px) {
  .halfContainer {
    flex: 1;
    width: calc(100% - 30px);
  }

}
