@import '../../styles/colors.module.scss';
@import '../../styles/global.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;
  width: 100%;
}
.subContainer {
  display:flex;
  flex-direction: column;
  max-width:1800px;
  justify-content: center;
  align-items:center;
  padding-bottom:40px;
  width:100%;
  margin-top: 40px;

}
.NoData {
  @include label;
  margin-top:50px;
  font-size: 30px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  line-height: normal;
  max-width: 800px;
}
.valueBoxes {
  display:flex;
  // justify-content: space-between;
  // align-items:center;
  flex-direction: row;
  width: 100%;
}
.radialGraphs {
  display:flex;
  width: 100%;
  min-height: 300px;
  margin: 15px;
}
.switchContainer {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  font-size: 17px;
  padding:0px 0px 10px 0px;
  padding-left:10px;
}
.switchText {
  margin-left:10px;
  @include label;
  
}

.singleContainer {
  width:100%;
}
.doubleContainer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
}
.tooltip {
  text-align: left;
  line-height:30px;
  width: 100%;
}

@media only screen and (max-width: 860px) {
  .valueBoxes {
    flex-wrap:wrap;
  }

  .doubleContainer {
    flex-direction: column;
  }

}
